<%= javascript_include_tag 'questions', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript">
$(function(){
  $('.ui.dropdown')
  .dropdown({
    allowAdditions: true
  });
});

</script>

<div class="ui multiple dropdown">
  <input type="hidden" name="filters">
  <!-- <i class="filter icon"></i> -->
  <!-- 86b846 6d8f29 -->
  <i class="fa fa-users" aria-hidden="true"></i>
  <span class="text" style="color:#adda4d">邀请回答</span>
  <div class="menu">
    <div class="ui icon search input">
      <i class="search icon"></i>
      <input type="text" placeholder="搜索你想提问的学长学姐">
    </div>
    <div class="divider"></div>
    <div class="header">
      <i class="tags icon"></i>
      学长&学姐
    </div>
    <div class="scrolling menu">
      <% @users.each do |user| %>
        <div class="item" data-value="<%= user.id %>">
          <%= gravatar_tag user.email, :size => 50, :default => avatar_url %>
          <%= user.name %>
          回答数量：<%= user.answers.count %>
        </div>
      <% end %>
    </div>
  </div>
</div>
