<%= content_for :handwrite_javascript do %>
<script type="text/javascript">
$(function() {
  $('[data-toggle="popover"]').popover({
    html : true,
    content: function() {
      return $('#popover_content_wrapper').html();
    }
  });
});
</script>
<% end %>
<div class="col-md-12">
  <%= render "questions/question_info_panel" %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">回答者列表
          <% if @question.status == "closed" %>
            <small class="small-tips pull-right"><i class="glyphicon glyphicon-ok"></i>已选出最佳答案</small></h3>
          <% end %>
      </div>

      <div class="panel-body">
        <%if @question.answers.size.positive? %>
          <% @question.answers.each do |answer| %>

              <p>
                <%= render_head_image_30(answer.user) %>
                <%= link_to(answer.user.name, exhibition_profile_account_user_path(id: answer.user.id)) %>
                回答了这个问题
                <span class="answer-time">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> <%= answer.updated_at_formate %>
                </span>

                <span class="answer-like-stats pull-right">
                  偷听指数：
                  <i class="fa fa-thumbs-o-up" aria-hidden="true" style="margin:0 10px 0 0"><%= answer.like_answers.count %></i>
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"><%= answer.unlike_answers.count %></i>
                </span>
                <% if answer.answer_status == "best_answer" %>
                  <span class="pull-right">
                    <i class="glyphicon glyphicon-star"></i>最佳答案
                  </span>
                <% end %>
              </p>
                <p style="padding-bottom:20px">

                  <span><%= answer.content.truncate(100) %></span>
                  <br />
                  <% if current_user %>
                      <%= render partial: "current_user_subscribe", locals: {answer: answer} %>
                  <% else %>
                      <%= link_to('偷听', subscribe_answers_account_answer_path(answer), method: :post, class: "btn btn-sm btn-default pull-right") %>
                  <% end %>
                </p>
          <hr />
          <% end %>
        <% else %>
            <span class="label label-info">还没有人回答呢，快来抢沙发吧？</span>
            <%= link_to '我要回答', new_question_answer_path(@question), class: "btn btn-sm btn-default pull-right" %>
        <% end %>
      </div>
    </div>
</div>
