<%= render "common/navbar_index" %>

<%= render "banner_slide2" %>

<%= render "picture_list" %>

<div style="height:30px"></div>

<%= render "about_us" %>

<%= render "question_list" %>

<%= render "bottom_banner" %>
