<%= simple_form_for [:account,@question] do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs my-form">
    <%= f.input :title,label:"问题主题" %>
    <%= f.input :description,label:"问题说明",placeholder:"问题说明"%>
    <!-- <label class="float required control-label" for="question_tag_list"><abbr title="required">*</abbr> 问题标签</label> -->
    <%#= select_tag 'question[tag_list][]', options_for_select(@tags.collect{ |t| [t.name, t.name] }),multiple: true, class: 'ui fluid search dropdown' %>

    <%= f.input :downpayment,label:"悬赏金额（元）", input_html: { min: '0', step: 'any' }%>

    <div class="dropdown tag-dropdown">
      <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        问题标签
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">

        <div class="form-group check_boxes">
          <%= f.collection_check_boxes :tag_list, Tag.all, :name,:name, :item_wrapper_class => 'checkbox' %>
        </div>
        <%#= f.association :tags, :as => :check_boxes, label: false, value_method: :name,checked: @question.tags %>
      </ul>
    </div>

    <div class="dropdown">
      <a id="dLabel-users" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        邀请回答
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel-users">
        <%= f.association :invitated_users, :as => :check_boxes, label: false,selected: @question.invitated_users %>
      </ul>
    </div>

    <%#= render "multiple_dropdown_bar" %>

  </div>

  <div class="form-actions pull-right">
    <%= f.button :submit,value:"提交问题",class: "btn btn-primary btn-md" %>
  </div>
<% end %>

<%= javascript_include_tag 'account/questions', 'data-turbolinks-track': 'reload' %>
<%= content_for :handwrite_javascript do %>
<script type="text/javascript">
$(function(){
  initEditor();
});
</script>
<% end %>
