<div class="ui multiple dropdown" id="dropdown">
  <input type="hidden" name="filters" value="<%=@filters%>">
  <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
  <label class="text" id="invite" style="color:#4285f4">邀请回答</label>
  <% unless @invitated_users.nil? %>
    <% @invitated_users.each do |user| %>
     <a class="ui label transition visible" data-value="<%= user.id %>" style="display: inline-block !important;">
        <%= gravatar_tag user.email, :size => 50, :default => avatar_url %>
        <%= user.name %>
        回答数量：<%= user.answers.count %>
        <i class="delete icon"></i>
     </a>
    <% end %>
  <% end %>
  <div class="menu">
    <div class="ui icon search input">
      <i class="search icon"></i>
      <input type="text" placeholder="搜索你想提问的学长学姐">
    </div>
    <div class="divider"></div>
    <div class="header">
      <i class="tags icon"></i>
      学长&学姐
    </div>
    <div class="scrolling menu">
      <% @users.each do |user| %>
        <div class="item" data-value="<%= user.id %>">
          <%= gravatar_tag user.email, :size => 50, :default => avatar_url %>
          <%= user.name %>
          回答数量：<%= user.answers.count %>
        </div>
      <% end %>
    </div>
  </div>
</div>
