<div style="padding-left:0">
  <div class="panel panel-default" style="background:transparent;">
    <div class="panel-body">
      问题列表
      <!-- <div class="btn-group pull-right">
        <%= link_to("所有问题","#",class:"btn btn-default btn-group-sm ") %>
      </div> -->
      <div class="dropdown clearfix pull-right">
         <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           排序
          <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
             <li>
               <%= link_to("按创建时间", account_questions_path(:order => "by_question_created_at")) %>
             </li>
             <li>
                <%= link_to("按想听人数", account_questions_path(:order => "by_question_like_count")) %>
             </li>

         </ul>
      </div>


      <table class="table table-filter">
        <% @questions.each do |question| %>
        <tr>
          <td>
            <div class="media">
              <div class="pull-left">
                <%= gravatar_tag question.user.email, :size => 30, :default => avatar_url %>
              </div>
                <div class="media-body">
                  <span class="media-meta pull-right"><%= question.created_at %></span>
                  <h4 class="title">
                    <%= question.user.name %>: <%= link_to(question.title,question)  %>
                    <span class="pull-right pagado">悬赏金额 ¥ <%= question.downpayment %></span>

                  </h4>

                  <p class="summary">
                    <% pure_description = sanitize(question.description) %>
                    <%= truncate(pure_description, limit:25) %>
                    <span class="pull-right"><%= link_to("我要偷听",question,class:"btn btn-danger btn-xs") %></span>
                    <span class="pull-right"><%= link_to("我要回答",new_question_answer_path(question),class:"btn btn-default btn-xs") %></span>
                    <span class="pull-right" style="font-size:12px">回答人数：<%= question.answers.count %>&nbsp&nbsp</span>
                  </p>

                </div>
              </div>
            </td>
        </tr>
        <% end %>
      </table>

      <div class="text-center">
        <%= will_paginate @questions %>
      </div>
    </div>
  </div>

</div>
