<div class="col-md-8">
  <div class="total clearfix btn-right-bottom">
    <span class="pull-right">
      <%= link_to '返回', account_questions_path,class:"btn btn-primary btn-xs" %>
    </span>
  </div>
  <div class="panel panel-default ">
    <div class="panel-heading">
      <h3 class="panel-title">问题主题：<%= @question.title %></h3>
    </div>

    <div class="panel-body">
      <p>问题描述：<%= sanitize(@question.description) %></p>
    </div>

    <% @invitated_users.each do |user| %>
      <div class="panel panel-info ">
        <div class="panel-heading">
          <h3 class="panel-title">邀请人：<%= user.name %> & 他的回答</ h3>
        </div>
          <% answers = user.answers.where(question_id:@question.id) %>
          <% answers.each do |answer| %>
          <div class="panel-body invitated_users_answer">
            <%= answer.content %>

            <div class="total clearfix">
              <span class="pull-right">
                <%= render :partial => "account/questions/show_button_base_status", :locals => { :question => @question, :answer => answer } %>
              </span>
            </div>
          </div>
          <% end %>
     </div>
    <% end %>

    <% @answers.each do |answer| %>
      <% if !@question.invitated_users.include?(answer.user)  %>
        <div class="panel panel-info ">
          <div class="panel-heading">
            <h3 class="panel-title">回答人：<%= answer.user.name %></h3>
          </div>

          <div class="panel-body">
            <%= answer.content %>
          </div>
          <div class="total clearfix btn-right-bottom">
            <span class="pull-right">
              <%= render :partial => "account/questions/show_button_base_status", :locals => { :question => @question, :answer => answer } %>
            </span>
          </div>
       </div>
      <% end %>

    <% end %>


  </div>
</div>
