<div class="col-md-12">
  <div class="total clearfix">
    <span class="pull-right">
      <%= link_to '返回', account_questions_path %>
    </span>
  </div>
  <div class="panel panel-default ">

    <div class="panel-heading">
      <h3 class="panel-title">问题主题：<%= @question.title %></h3>
    </div>

    <div class="panel-body">
      <p>问题描述：<%= @question.description %></p>
    </div>

    <% @answers.each do |answer| %>
      <div class="panel panel-info ">
        <div class="panel-heading">
          <h3 class="panel-title">@email：<%= answer.user.email %></h3>
        </div>
        <div class="panel-body">
          <%= answer.content %>
        </div>
        <div class="total clearfix">
          <span class="pull-right">
            <%= show_button_base_status(@question,answer) %>
          </span>
        </div>
     </div>
    <% end %>
  </div>
</div>
