<!-- <div class="question-list-bg">
  <div class="container">
      <% @questions.each do |question| %>
        <div class="col-sm-6 col-sx-12 question-list-box">
          <div class="panel panel-default">

            <div class="panel-body">
              <h3><%= question.title %></h3>
              <%= question.answers.first.content %>
              <div>
                <div class="pull-right">
                  <%= link_to '偷听', new_question_answer_path(question), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div> -->

<div class="question-list-bg">
  <div class="container">
      <% @questions.each do |question| %>
        <div class="container question-list-outer-box col-md-6 col-sm-6 col-xs-12">
          <div class="question-list-inner-box">
              <h3><%= question.title %></h3>
              <p><%= question.answers.first.content %></p>
                <div class="pull-right">
                  <%= link_to '偷听', question_path(question), class: "btn btn-primary pull-right" %>
                </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
