<%= render "navbar_v1" %>
<%= render "banner" %>
<div style="background-image: url(/crossword.png);">
  <%= render "text_section_1" %>
  <%= render "picture_list" %>
  <%= render "text_section_2" %>
  <%= render "welcome_v1/question_list" %>
  <%= render "bottom_banner" %>
</div>
