<section style="height: 440px; background-image: url(http://www.shangyutang.com.cn/images/banner2.jpg);">
 <div class="center-block w-100p p-15" style="max-width: 1000px;">
   <div class="row">
     <div class="col-sm-12 text-center mt-40 mb-60 headline">
       <h1 class="heading"><br/>学霸在线<br>让小白不再无路可走。</h1>
       <div class="mt-20 font-18 lh-30 center-block subheading">
         <p> 我们对于学习的热爱，一直让我们引以为豪。<br /> 从一开始，这种爱就不断推动和启发着我们。</p>
       </div>
      <%= render "questions/search_bar" %>
     </div>
   </div>
 </div>
</section>


<div class="container">
  <div class="row">
    <div class="col-sm-12 col-sx-12">
      <h3 class="text-danger" ><span class="fa fa-fire"></span> 最热话题 </h3>
      <hr>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <% @questions.each do |question| %>
      <div class="col-sm-6 col-sx-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= question.title %></h3>
          </div>
          <div class="panel-body">
            <p><%= sanitize(question.description) %></p>
            <div class="pull-right">
              <%= render_head_image_30(question.user) %>
              <!-- <%= gravatar_tag question.user.email, :size => 40, :default => avatar_url %> -->
            </div>
            <br>
            <br>
            <hr>
            <div>
              <div class="pull-right">
                悬赏金额: <%= question.downpayment %>
                <%= link_to '问题详情', question, class: "btn btn-default" %>
                <%= link_to '我要回答', new_question_answer_path(question), class: "btn btn-danger" %>
              </div>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
