<div class="">
  <h3>我的动态
  <span><%= link_to("新建动态", new_account_blog_path, class:"btn btn-default btn-sm pull-right") %></span>
  </h3>
</div>
<hr/>


<% @blogs.each do |blog| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <%= blog.title %>
          <div class="pull-right">
            <%= blog.created_at_formate %>
            <%= link_to '编辑', edit_account_blog_path(blog),class: "btn btn-xs btn-primary" %>
            <%= link_to '删除', account_blog_path(blog),method: :delete,class: "btn btn-xs btn-primary" %>
          </div>
      </div>
    </div>
    <div class="panel-body">
      <p><%= sanitize(blog.description) %></p>
    </div>
  </div>

<% end %>
<div class="text-center">
  <%= will_paginate @blogss, renderer: BootstrapPagination::Rails %>
</div>
