
  <div class="row">
  <% @followers.each do |follower| %>

    <div class="col-md-3 col-sm-3 col-xs-2 replyer">
      <div class="thumbnail replyer">
        <div class="replyer-image">
          <% if follower.user.image.present? %>
            <%= link_to(image_tag(follower.user.image.thumb.url)) %>
          <% else %>
            <%= gravatar_tag follower.user.email, :size => 200, :default => avatar_url %>
          <% end %>
        </div>
        <div class="caption">
          <h5><%= link_to(exhibition_profile_account_user_path(follower.user_id)) do%>
            <%= follower.user.name %></h5>
            <p>留学学校：<%= follower.user.school %><br />
            关注：<%= follower.user.followees.count %> | 问题：<%= follower.user.questions.count %></p>
            <% end %>
          <p>
            <span><%= link_to("向Ta提问", new_account_question_path, class:"btn btn-success btn-xs") %></span>

            <% if current_user.already_follower?(follower.user) %>
              <span class="label label-primary" style="padding:5px ">已关注</span>
            <% else %>
              <span><%= link_to("关注", like_account_follow_path(follower.user_id),method: :post, class:"btn btn-default btn-xs") %></span>
            <% end %>


          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="text-center">
    <%= will_paginate @followers, renderer: BootstrapPagination::Rails %>
  </div>
