<ul class="list-group">
  <% @questions.each do |question| %>

    <li class="list-group-item" style="padding:1em">
      <% if question.answers.count > 0 %>
        <%= link_to("#{question.answers.count}人回答过",account_question_path(question),class:"btn btn-primary btn-sm") %>
      <% else %>
        <span class="label label-default" style="padding:1em;margin-right:16px"><%=question.answers.count%>人回答过</span>
      <% end %>
      
      <%= link_to question.title,account_question_path(question) %>

      <div class="pull-right">
        <%= link_to "编辑",edit_account_question_path(question),class:"btn btn-primary btn-xs" %>

        <% if question.answers.count>0 %>
          <%= render_cancel_reopen(question,true)  %>
          <%= link_to  "删除",publish_hidden_account_question_path(question), method: :post, data: { confirm: 'Are you sure you want to delete the question?' }, class:"btn btn-default btn-xs",disabled:true %>
        <% else %>
          <%= render_cancel_reopen(question,false)  %>
          <%= link_to  "删除",publish_hidden_account_question_path(question), method: :post, data: { confirm: 'Are you sure you want to delete the question?' }, class:"btn btn-default btn-xs" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<div class="text-center">
 <%= will_paginate @questions %>
</div>
