<style media="screen">
    .simple_form {
        margin: 15px 15px; background-color: #fff;
    }
    .simple_form input { border: 1px solid #e5e5e5;}
    .simple_form textarea { border: 1px solid #e5e5e5;}
    .simple_form label { color: #373a3c;font-size: 12px;}
</style>

<script type="text/javascript">
$(function(){
  $('.ui.dropdown').dropdown({
    allowAdditions: false
  });

  $('[data-toggle="popover"]').popover({
    html : true,
    content: function() {
      return $("#popover_div").html();
    }
  });
});
</script>

<div id="popover_div" style="display:none"> 如何提问能获得更好的答案？
  <ol>
    <li>增加悬赏</li>
    <li>邀请别人</li>
    <li>在描述中介绍自己的情况</li>
  </ol>

  如何获得更多偷听？
  <ol>
    <li>标题具体（写明地区、学校等）</li>
    <li>得到理想答案后尽快确认赞赏</li>
    <li>在描述中介绍自己的情况</li>
  </ol>
</div>

<div class="panel panel-default">
    <%= simple_form_for [:account,@question] do |f| %>
    <div class="form-inputs">

      <label style="margin-bottom:15px;color:#4285f4;font-size:14px;">快速提问，有什么问题想问学霸？</label>

        <a tabindex="0" class="pull-right" role="button" data-toggle="popover" data-placement="left"
          title='提问指南' > <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i></a>

        <%= f.input :title,label: false,placeholder:"问题主题",style:"margin-top:15px"  %>
        <%= f.input :description,label: false,placeholder:"问题说明"%>

        <!-- <div class="special">
            <%#= render "account/questions/multiple_dropdown_bar" %>
        </div> -->
        <div class="pull-right">
          <div class="special">
              <label class="float required control-label" for="question_tag_list">问题标签</label>
              <%= select_tag 'question[tag_list][]', options_for_select(@tags.collect{ |t| [t.name, t.name] }),multiple: true, class: 'ui search dropdown'%>
          </div>
          <div class="special">
            <label class="float required control-label" for="question_downpayment" style="margin-top:9px">悬赏金额</label>
          </div>
          <div class="special">
            <%= f.input :downpayment,label:false, input_html: { min: '0', step: 'any',class: "special-size"}%>
          </div>

        <%= render "account/users/pop_up_pay" %>

        <!-- Button trigger modal -->
        <div class="special">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" style="height:35px">
            提问
          </button>
          <%#= f.button :submit,value:"提 问",class: "btn btn-primary" %>
        </div>
    </div>
  </div>
    <% end %>
</div>
