<table class="table table-boldered">
  <tr>
    <td>
      Email
    </td>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr>
    <td>
      角色
    </td>
    <td>
      <%= @user.role %>
    </td>
  </tr>
  <tr>
    <td>
      昵称
    </td>
    <td>
      <%= @user.name %>
    </td>
  </tr>
  <tr>
    <td>
      性别
    </td>
    <td>
      <%= @user.gender %>
    </td>
  </tr>
  <tr>
    <td>
      学校
    </td>
    <td>
      <%= @user.school %>
    </td>
  </tr>
  <tr>
    <td>
      专业
    </td>
    <td>
      <%= @user.major %>
    </td>
  </tr>
  <tr>
    <td>
      头像
    </td>
    <td>
      <img src="<%=@user.image.thumb%>">
    </td>
  </tr>


</table>
