<ul class="nav nav-pills nav-stacked" style="padding-left: 30px">
  <li><%= active_link_to " 首页", show_profile_account_user_path(current_user), class: "fa fa-file-o" %></li>
  <li><%= active_link_to " Ta的关注", follow_show_account_user_path(current_user),class: "fa fa-heart-o" %></li>
  <li><%= active_link_to " Ta的文章", account_blogs_path, class: "fa fa-pencil-square-o" %></li>
  <li><%= active_link_to " Ta的兴趣标签", account_tags_path, class: "fa fa-tag" %></li>
  <hr />
  <li><%= active_link_to " Ta偷听的回答", my_subscriptions_account_user_path(current_user),class: "fa fa-headphones" %></li>
  <li><%= active_link_to " Ta的问题与答案", my_questions_answers_account_user_path(current_user), class: "fa fa-comments-o" %></li>
  <li><%= active_link_to " Ta被邀请回答的问题", invitated_questions_account_questions_path, class: "fa fa-diamond" %></li>
  <hr />
  <li><%= active_link_to " 提问", new_account_question_path(current_user),class: "fa fa-question-circle-o" %></li>
  <li><%= active_link_to " 热门学霸", replyers_account_users_path,class: "fa fa-truck" %></li>
  <li><%= active_link_to " 问题广场", account_questions_path, class: "fa fa-list" %></li>
</ul>

<!--
<ul class="nav nav-pills nav-stacked" style="max-width:300px; padding-top:20px;">
    <li><%= active_link_to("立即提问",new_account_question_path) %></li>
    <li><%= active_link_to(like_account_follow_path(@user),method: :post) do %>
      关注
      <% if !current_user.already_follower?(@user) %>
        <i class="fa fa-heart" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      <% end %>
    <% end %>
    </li>
    <li>他有<%= @blogs.count %>文章</li>
      <ul>
        <% @blogs.each do |blog| %>
          <li><%= link_to blog.title, account_blog_path(blog) %></li>
          <% i = 0 %>
          <% i += 1 %>
          <% if i == 3 %>
            <% break %>
          <% end %>
        <% end %>
      </ul>
    <li class="divider"></li>

    <li class="divider"></li>

    <li>关注了<%= @user.q_likes.count %>个问题</li>
      <ul>
        <% @user.q_likes.each do |qlike| %>
          <li><%= link_to qlike.title, question_path(qlike) %></li>
          <% i = 0 %>
          <% i += 1 %>
          <% if i == 3 %>
            <% break %>
          <% end %>
        <% end %>
      </ul>
    <li class="divider"></li>

    <li>我关注的人中，5人也关注Ta</li>
    <li class="divider"></li>

    <li>你们共同关注了3人</li>
    <li class="divider"></li>


</ul> -->
