

<div class="nav col-md-2 col-xs-12" >
  <ul class="nav nav-pills nav-stacked" style="padding-left: 30px">
    <li><%= active_link_to "个人首页", show_profile_account_user_path(@user) %></li>
    <li><%= active_link_to "个人资料", index_profile_account_user_path(@user) %></li>
    <li><%= active_link_to "我的问题与答案", my_questions_answers_account_user_path(@user) %></li>
    <li><%= active_link_to "账户充值", deposit_edit_account_user_path(@user) %></li>
    <li><%= active_link_to "账户提现", withdraw_edit_account_user_path(@user)  %></li>
  </ul>
</div>
