<h1>账户充值</h1>
<div class="" style="margin:30px">
  <table class="table">
    <tr>
      <td>
          Email
      </td>
      <td>
          <%= @user.email %>
      </td>
    </tr>
    <tr>
      <td>
        余额
      </td>
      <td>
          <%= @user.balance %>
      </td>
    </tr>
    <tr>
      <td>
        充值金额
      </td>
      <td>
        <%= form_for [:account, @user], url: deposit_change_account_user_path, method: :post do |f| %>
        <%= f.text_field :balance %>
        <%= f.submit "马上充值", disable_with: "充值中...", class: "btn btn-primary"%>
        <% end %>
      </td>
    </tr>
  </table>
</div>
