<div class="col-md-2">
    <%= render "sidebar_exhibition" %>
</div>

<div class="col-md-8">
  <%= render "profile_exhibition" %>
  <hr/>
  <h3>我回答过的问题</h3>
  <div class="total clearfix">
    <%= @answers.each do |answer| %>
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h3 class="panel-title">问题主题：<%= answer.question.title %></h3>
      </div>
      <div class="panel-body">
        <p>问题描述：<%= answer.question.description %></p>
        <%= link_to("偷听","#",class:"btn btn-danger pull-right") %>
      </div>
    </div>
    <% end %>
  </div>

</div>
