
  <div class="alert alert-warning">
    <%= link_to("查看", exhibition_profile_account_user_path(current_user), class:"btn btn-danger btn-sm") %>个人主页展示效果
  </div>
  <table class="table table-stripped">
    <thead>
      <th>Info</th>
      <th>操作</th>
    </thead>
    <tbody>
      <tr>
        <td><%= render "profile" %></td>
        <td>
          <div class="index-profix-button">
            <%= link_to(edit_profile_account_user_path(@user),class:"btn btn-xs btn-default") do%>
              <i class="fa fa-cog" aria-hidden="true"></i><span>修改个人信息</span>
            <% end %>
          </div>
          <div class="index-profix-button">
            <%= display_user_status(@user) %>
            <% unless current_user.application_approved? || current_user.application_applied? %>
              <%= link_to(submit_application_account_user_path(@user) , method: :post, class:"btn btn-xs btn-default btn-danger") do%>
                <i class="fa fa-rocket" aria-hidden="true"></i><span>申请认证，成为学霸</span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<hr>
  <h3><span class="tags"><i class="fa fa-line-chart" aria-hidden="true"></i>我的成就</span></h3>
  <table class="table table-stripped">
    <tbody>
      <tr>
        <td><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i> 我提过的问题</td>
        <td>
          已提出<%= content_tag(:span, @questions.count, class:"number_strong") %>个问题
        </td>
        <td>
          <%= link_to("查看", account_questions_path(current_user), class: "btn btn-xs btn-default") %>
        </td>
      </tr>
      <tr>
        <td><i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i> 我写过的答案</td>
        <td>已回答<%= content_tag(:span, @answers.count, class:"number_strong") %>个问题，<%= @answers.where(answer_status: "best_answer").count %>个被选为最佳
        <td><%= link_to("查看", account_answers_path, class: "btn btn-xs btn-default") %></td>
      </tr>
      <tr>
        <td><i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i> 我被邀请回答的问题</td>
        <td><%= content_tag(:span, @invitated_questions.count, class:"number_strong") %>个问题邀请我回答</td>
        <td><%= link_to("被邀请回答的问题", invitated_questions_account_questions_path, class:"btn btn-xs btn-default") %></td>
      </tr>
      <tr>
        <td><i class="fa fa-headphones fa-lg" aria-hidden="true"></i> 我偷听的答案</td>
        <td>已偷听<%= content_tag(:span, @answer_subscriptions.count, class:"number_strong") %>个回答</td>
        <td><%= link_to("我偷听的答案", my_subscriptions_account_user_path(current_user), class:"btn btn-xs btn-default") %></td>
      </tr>
      <tr>
        <td><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i> 答案收到的赞</td>
        <td>已获得<%= content_tag(:span, @recieved_answers_likes.count, class:"number_strong") %>个赞</td>
        <td><%= link_to("回答更多问题", show_profile_account_user_path(current_user), class:"btn btn-xs btn-default") %></td>
      </tr>
      <tr>
        <td><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 我关注的人</td>
        <td>我关注了<%= content_tag(:span, @followings.count, class:"number_strong") %>个学霸</td>
        <td><%= link_to("去学霸广场Social", replyers_account_users_path, class:"btn btn-xs btn-default") %></td>
      </tr>
      <tr>
        <td><i class="fa fa-users fa-lg" aria-hidden="true"></i> 我的粉丝</td>
        <td><%= content_tag(:span, @followers.count, class:"number_strong") %>人关注了我</td>
        <td><%= link_to("去学霸广场Social", replyers_account_users_path, class:"btn btn-xs btn-danger") %></td>
      </tr>
      <!-- <tr>
        <td><i class="fa fa-money fa-lg" aria-hidden="true"></i> 充值记录</td>
        <td>      </td>
        <td>      </td>
      </tr> -->
      <tr>
        <td><i class="fa fa-trophy fa-lg" aria-hidden="true"></i> 收钱记录</td>
        <td>知识变现<%= content_tag(:span, @bills.count, class:"number_strong") %></td>
        <td><%= link_to("去答题赚钱", show_profile_account_user_path(current_user), class:"btn btn-xs btn-danger") %></td>
      </tr>
      <!-- <tr>
        <td><i class="fa fa-search fa-lg" aria-hidden="true"></i> 搜索问题和用户</td>
        <td>搜索问题XX个，连起来可以绕地球一圈</td>
        <td></td>
      </tr> -->
    </tbody>
  </table>
