<div class="row">
  <div class="col-md-8 col-md-offest-2">
    <h2>个人主页（个人全功能展览）</h2>
    <table class="table table-stripped">
      <thead>
        <th>
          功能
        </th>
        <th>
          操作
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            个人资料
          </td>
          <td>
            查看姓名、邮箱等
            <%= link_to("查看", show_profile_account_user_path(current_user), class: "btn btn-primary") %>
          </td>
        </tr>
        <tr>
          <td>
            我提过的问题
          </td>
          <td>
            已提出<%= current_user.questions.published.count %>个问题，<%= current_user.questions.published.where(status: "closed").count %>个已关闭，<%= current_user.questions.published.where(status: "open").count %>个开放
            <%= link_to("查看", account_questions_path(current_user), class: "btn btn-primary") %>
          </td>
        </tr>
        <tr>
          <td>
            我写过的答案
          </td>
          <td>
            已回答<%= current_user.answers.published.count %>个问题，<%#= current_user.answers.published.where()count %>个被选为最佳，个被偷听，个被点赞
          </td>
        </tr>
        <tr>
          <td>
            我被邀请的回答
          </td>
          <td>
            有个问题邀请我回答，已完成个回答
          </td>
        </tr>
        <tr>
          <td>
            我偷听的答案
          </td>
          <td>
            偷听了个回答
          </td>
        </tr>
        <tr>
          <td>
            我的答案收到的赞
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            我关注的人
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            我被谁关注
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            充值记录
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            收钱记录
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            搜索问题和用户
          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
