<div class="col-md-10" >

    <strong><span style="font-size:16px">学霸广场</span></strong>
    <div class="dropdown clearfix pull-right">
      <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        排序
       <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
          <li>
            <%= link_to("按关注人数", replyers_account_users_path(:order => "by_like_count")) %>
          </li>
          <li>
             <%= link_to("按学校", replyers_account_users_path(:order => "by_school")) %>
          </li>
      </ul>
  </div>
  <hr>
  <div class="row">
  <% @replyers.each do |replyer| %>
    <div class="col-md-3 col-sm-3 col-xs-2 replyer">
      <div class="thumbnail replyer">
        <div class="replyer-image">
          <% if replyer.image.present? %>
            <%= link_to(image_tag(replyer.image.thumb.url)) %>
          <% else %>
            <%= gravatar_tag replyer.email, :size => 60, :default => avatar_url %>
          <% end %>
        </div>
        <div class="caption">
          <h5><%= link_to(exhibition_profile_account_user_path(replyer)) do%>
            <%= replyer.name %></h5>
            <p>留学学校：<%= replyer.school %><br />
            被关注：<%= FollowRelationship.where(follower_id: replyer).count %> | 回答：<%= replyer.answers.count %></p>
            <% end %>
          <p>
            <span><%= link_to("向Ta提问", new_account_question_path, class:"btn btn-success btn-xs") %></span>
            <% if current_user.already_follower?(replyer) %>
              <span class="label label-primary" style="padding:5px ">已关注</span>
            <% else %>
              <span><%= link_to("关注", like_account_follow_path(replyer),method: :post, class:"btn btn-default btn-xs") %></span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="text-center">
    <%= will_paginate @replyers %>
  </div>
</div>
