
<div class="" style="margin:30px">
  <table class="table">
    <tr>
      <td>
          Email
      </td>
      <td>
          <%= @user.email %>
      </td>
    </tr>
    <tr>
      <td>
        余额
      </td>
      <td>
          <%= @user.balance %>
      </td>
    </tr>
    <tr>
      <td>
        提取金额
      </td>
      <td>
        <%= form_for [:account, @user], url: withdraw_change_account_user_path, method: :post do |f| %>
        <%= f.text_field :balance %>
        <%= f.submit "马上提现", disable_with: "提现中...", class: "btn btn-primary"%>
        <% end %>
      </td>
    </tr>
  </table>
</div>
