<%= simple_form_for [@question,@answer] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <% unless current_user.gender && current_user.school && current_user.major %>
      <div class="addtional-info-border">
          您还缺少一些个人资料，填写一下，答案更容易被偷听！
          <br>
        <% unless current_user.gender %>
          <h4>性别</h4>
          <%= select_tag "gender", options_for_select(["Male", "Female"], "Male"), class:"form-control form-group", id:"gender" %>
        <% end %>
        <% unless current_user.school %>
          <h4>学校：</h4>
          <%= tag("input", type: "text", name: "school", class: "form-control form-group") %>
        <% end %>
        <% unless current_user.major %>
          <h4>专业：</h4>
          <%= tag("input", type: "text", name: "major", class: "form-control form-group" )%>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.submit "Submit", disable_with: "Submitting", class:"btn btn-danger"%>
  </div>
<% end %>

<%= content_for :handwrite_javascript do %>
<script type="text/javascript">
  var editor = new Simditor({
   textarea: $("#answer_content"),
   toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', 'link', '|','hr','indent','outdent','alignment'],
   placeholder: '想问的问题...',
   upload: {
     fileKey: 'file',
     params: null,
     connectionCount: 3,
     leaveConfirm: 'Uploading is in progress, are you sure to leave this page?'
   }
  });
  editor.value();
</script>
<% end %>
