<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <div class="db-wrapper">
    <div class="db-pricing-seven">
      <ul>
        <li class="price">
          <i class="glyphicon glyphicon-yen"></i>
          悬赏 - <%= @question.downpayment %>
        </li>
        <li><i class="glyphicon glyphicon-fire"></i><%= @question.liking_users.count %>人也想听</li>
        <li><i class="glyphicon glyphicon-user"></i>提问者-<%= link_to @question.user.name, exhibition_profile_account_user_path(@question.user) %></li>
        <li><i class="glyphicon glyphicon-tags"></i>标签：<%= render @question.tags %></li>
        <li><i class="glyphicon glyphicon-edit"></i>已有回答<%= @question.answers.count %>个</li>
        <li><i class="glyphicon glyphicon-eye-open"></i>被浏览<%= @question.watches %>次</li>
      </ul>
    </div>
  </div>
</div>
