<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-11 col-xs-12">
      <h2>问题回答邀请</h2>
      <ul>
        <li><span class="glyphicon glyphicon-gift"></span>悬赏金额：￥<%= @question.downpayment %></li>
        <li><span class="glyphicon glyphicon-time"></span>提问时间：<%= @question.created_on %></li>
      </ul>
      <blockquote>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3><%= link_to(@question.title, new_question_answer_url(@question) ) %></h3>
          </div>
          <div class="panel-body">
            <p>
              <%= sanitize(@question.description) %>
            </p>
          </div>
        </blockquote>
        <br>
        <p>
          <%= link_to("点击此处", invitated_questions_account_questions_url, class:"btn btn-primary")%>，立即回答被邀请的问题
        </p>
      </div>
    </div>
  </div>

</div>
