<% @refer_questions.each do |refer| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= refer.title %></h3>
        <p><%= truncate(sanitize(refer.description), limit: 20) %></p>

          <p class="summary">
            <span class="media-meta pull-left" style="padding-right:10px">悬赏<i class="glyphicon glyphicon-yen"></i><%= refer.downpayment.to_i %></span>
            <span class="media-meta pull-left"><%= refer.liking_users.count %>人想听</span>
            <%= link_to("回答", new_question_answer_path(refer), class:"btn btn-primary btn-xs pull-right") %>
            <%= link_to("查看", question_path(refer), class:"btn btn-default btn-xs pull-right") %>
            <br />
          </p>
      </div>
    </div>
  </div>
<% end %>
