<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4>我的回答</h4>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th width="60%">回答内容</th>
          <th class="text-center" colspan="3" width="20%">操作</th>
          <th class="text-center">有多少人偷听</th>
        </tr>
      </thead>
      <tbody>
        <% @answers.each do |answer| %>
          <tr>
            <td><%= truncate(answer.content, :limit => 10 ) %></td>
            <td><%= link_to '详情', account_answer_path(answer), class: "btn btn-primary btn-xs" %></td>
            <td><%= link_to '编辑', edit_account_answer_path(answer), class: "btn btn-primary btn-xs" %></td>
            <td><%= link_to(publish_hidden_account_answer_path(answer), method: :post, data: { confirm: 'Are you sure?' } ) do%>
                  <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                <% end %>
            </td>
            <td class="text-center"><%= answer.answer_subscriptions.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
