<div class="col-md-12">
  <div class="total clearfix btn-right-bottom">
      <span class="pull-right">
        <%= link_to '返回', account_answers_path, class: "btn btn-primary btn-xs"%>
      </span>
  </div>
    <%= render "account/answers/question_info_panel" %>

  <div class="panel panel-default ">
    <div class="panel-heading">
      <h3 class="panel-title">我的回答</h3>
    </div>
    <div class="panel-body">
      <p>
        回答内容：<%= @answer.content %>
      </p>
    </div>
    <div class="total clearfix btn-right-bottom">
        <span class="pull-right">
          <%= link_to '编辑', edit_account_answer_path(@answer), class: "btn btn-primary btn-xs" %>
        </span>
    </div>
  </div>

  <h3>更多热门问题:</h3>

  <div class="row">
    <% @refer_questions.each do |refer| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <!-- <img src="..." alt="..."> -->
          <div class="caption">
            <h3><%= refer.title %></h3>
            <p><%= truncate(sanitize(refer.description), limit: 20) %></p>
            <p>
              <small class="small-tips">悬赏<i class="glyphicon glyphicon-yen"></i><%= @question.downpayment.to_i %>, <%= refer.liking_users.count %>人也想听</small>
            </p>
            <p><%= link_to("去回答", new_question_answer_path(refer), class:"btn btn-danger btn-sm") %>
              <%= link_to("去查看", question_path(refer), class:"btn btn-default btn-sm") %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
