<!DOCTYPE html>
<html>
  <head>
    <title>Onlineask</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin/admins', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: url(/crossword.png);">
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= render_breadcrumb %>
      <div class="row">
        <%= render "common/admin_sidebar" %>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "common/footer_index" %>

    <%= yield :handwrite_javascript %>
  </body>
</html>
