<!DOCTYPE html>
<html>
  <head>
    <title>Onlineask</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'guides', media:'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'simplemde.min' %>
  </head>
  <body>
    <div class="container-fluid" id="wrap">
      <div class="row text-center" style="margin-top:50px ">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'search', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'simplemde.min' %>

    <%= yield :handwrite_javascript %>

  </body>
</html>
