<!DOCTYPE html>
<html>
  <head>
    <title>Onlineask</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'account/users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" id="wrap">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= render_breadcrumb %>

      <div class="container">

        <div class="col-md-9 col-xs-9 ">
          <%= yield %>
        </div>
        <div class="pull-left col-md-3 col-xs-3 ">
          <%= render "account/users/user_center_right_sidebar" %>
        </div>
      </div>
      <div class="row">
        <%= render "common/footer" %>
      </div>
    </div>
  </body>
</html>
