<!DOCTYPE html>
<html>
  <head>
    <title>Onlineask</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'welcome_test', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-image: url(/crossword.png);">
    <div class="">
      <%= render "common/navbar_index" %>
      <%= render "common/flashes" %>
      <%= render_breadcrumb %>
      <%= yield %>
      <%= render "common/footer_index" %>
    </div>
  <!-- <%= render "common/footer" %> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :handwrite_javascript %>
  </body>
</html>
